<div class="container">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Films mieux notés">
            <br>
            <div *ngFor="let f of listeMovieHightRatet?.results" class="col-md-3" style="margin-bottom: 20px">
                <p-card id="card1">
                    <p>{{f.title}}</p>
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>
                        <button pButton type="button" label="Details" icon="fa fa-info" (click)="selectMovie(f)"
                                style="margin-right: .25em"></button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                                (click)="addFilmNote(f.id)" class="ui-button-secondary pull-right"
                                id="ajouter"></button>
                    </p-footer>
                </p-card>
            </div>
        </mat-tab>
        <mat-tab label="Films 2019">
            <br>
            <div *ngFor="let f of listeMovie?.results" class="col-md-3" style="margin-bottom: 20px">
                <p-card id="card1">
                    <p>{{f.title}}</p>
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>
                        <button pButton type="button" label="Details" icon="fa fa-info" (click)="selectMovie(f)"
                                style="margin-right: .25em"></button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                                class="ui-button-secondary pull-right" id="ajouter"
                                (click)="ajoutFilmRecent(f.id)"></button>
                    </p-footer>
                </p-card>
            </div>
        </mat-tab>
        <mat-tab label="Films dramatique">
            <br>
            <div *ngFor="let f of listeMovieDram?.results" class="col-md-3" style="margin-bottom: 20px">
                <p-card id="card1">
                    <p>{{f.title}}</p>
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>
                        <button pButton type="button" label="Details" icon="fa fa-info" style="margin-right: .25em"
                                (click)="selectMovie(f)"></button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                                class="ui-button-secondary pull-right" id="ajouter"
                                (click)="ajoutFilmDramatique(f.id)"></button>
                        <div>
                            <p-overlayPanel #op1 [dismissable]="true" [showCloseIcon]="true" [autoZIndex]="true">
                                <p> {{f.overview}} </p>
                            </p-overlayPanel>
                        </div>
                    </p-footer>
                </p-card>
            </div>
        </mat-tab>
    </mat-tab-group>
    <p-dialog header="Movie detail" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
              style="color: #c32f10" [style]="{width: '350px'}">
        <div class="ui-g" *ngIf="selectedMovie">
            <div class="ui-g-12" style="text-align:center">
                {{selectedMovie.overview}}
            </div>
        </div>
    </p-dialog>

</div>