<div class="container">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
        <mat-tab label="Films mieux notés">
            <br>
            <div *ngFor="let f of listeMovieHightRatet?.results" class="col-md-4" style="margin-bottom: 20px">
                <p-card header={{f.title}} [style]="{width: '360px'}" styleClass="ui-card-shadow"
                    style="display: inline-block">
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>
                        <button pButton type="button"  id="detail" icon="fa fa-info" (click)="afficher()" 
                            style="margin-right: .25em">{{detail}}</button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                            class="ui-button-secondary"></button>
                        <div id="div_detail" *ngIf="detail===detail_cacher" >
                            <p>
                                Ceci est l'onglet N° 1
                            </p>
                        </div>
                    </p-footer>
                </p-card>
            </div>
        </mat-tab>
        <mat-tab label="Films 2019">
            <br>
            <div *ngFor="let f of listeMovie?.results" class="col-md-4" style="margin-bottom: 20px">
                <p-card header={{f.title}} [style]="{width: '360px'}" styleClass="ui-card-shadow"
                    style="display: inline-block">
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>
                        <button pButton type="button" label="Details" icon="fa fa-info"
                            style="margin-right: .25em"></button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                            class="ui-button-secondary"></button>
                    </p-footer>
                </p-card>
            </div>
        </mat-tab>
        <mat-tab label="Films dramatique">
            <br>
            <div *ngFor="let f of listeMovieDram?.results" class="col-md-4" style="margin-bottom: 20px">
                <p-card header={{f.title}} [style]="{width: '360px'}" styleClass="ui-card-shadow"
                    style="display: inline-block">
                    <p-header>
                        <img src="Card" src="{{this.tmdbService.host+f?.poster_path}}">
                    </p-header>
                    <p></p>
                    <p-footer>

                        <button pButton type="button" label="Details" icon="fa fa-info" style="margin-right: .25em"
                            (click)="op1.toggle($event)"></button>
                        <button pButton type="button" label="Ajouter" icon="fa fa-shopping-cart"
                            class="ui-button-secondary"></button>
                        <div>
                            <p-overlayPanel #op1 [dismissable]="true" [showCloseIcon]="true" [autoZIndex]="true">
                                <p> {{f.overview}} </p>
                            </p-overlayPanel>
                        </div>

                    </p-footer>
                </p-card>

            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<!--
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Films">
        <mat-card class="example-card col-md-4" style="margin-left: 20px; margin-top: 10px;" tabindex="0" role="group"
                  layout="row" layout-align="center center" *ngFor="let f of listeMovie?.results">
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                    </div>
                    <mat-card-title>{{f.title | slice 0:6}}</mat-card-title>
                </mat-card-header>
                <img height="550" width="360" mat-card-image src="{{this.tmdbService.host+f?.poster_path}}"
                >
                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>DETAIL</button>
                    <button mat-button>COMMANDER</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Chaine TV">
        <mat-card class="example-card col-md-4" style="margin-left: 20px; margin-top: 10px;" tabindex="0" role="group"
                  layout="row" layout-align="center center" *ngFor="let t of listeTv?.genres">
            <div>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image">
                    </div>
                    <mat-card-title>{{t.name}}</mat-card-title>
                    <mat-card-subtitle>{{t.id}}</mat-card-subtitle>
                </mat-card-header>
                <img height="500" width="360" mat-card-image src="{{this.tmdbService.host+f?.poster_path}}"
                     alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>

                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>DETAIL</button>
                    <button mat-button>COMMANDER</button>
                </mat-card-actions>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Personnes"> Content 3</mat-tab>
</mat-tab-group>
-->