<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<h1>MenuCinéma.com</h1>
<p>Page github : <a href="https://github.com/AlexDmr/l3m_menucinema">https://github.com/AlexDmr/l3m_menucinema</a></p>
<p><a href="https://docs.google.com/document/d/1cQcOzhEYcMNmTqi-8eqjO4gbCwUZ_qd_y01GYAJYrYU/edit?usp=sharing">Google doc du projet</a></p>
<p><a href="https://docs.google.com/document/d/1eeCz9V31ZZCTw5AyFR7bNct-nLYuV9wykSdxAONhHM0/edit?usp=sharing">Google doc de la partie client</a></p>

<code>
  {{film | json}}
</code>

<router-outlet></router-outlet>
