<p-toast position="top-right"></p-toast>
<p-dialog header="Chosisez votre emplacement" [(visible)]="afficherDialog" [modal]="true" [responsive]="true"
          [style]="{width: '400px', minWidth: '250px'}" [minY]="90"
          [maximizable]="true" [baseZIndex]="10000" (onHide)="onHide()">
  <p>Sélectionnez votre lieu de livraison pour pouvoir etre livré  </p>
  <br>
  <form>
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
      <input type="text" class="form-control" id="adresse"
             name="adresse" placeholder="Adresse" [(ngModel)]="user.adresse">
    </div>

    <span class="help-block"></span>
    <br>
    <p-footer>
      <button type="button" pButton icon="pi pi-pencil" (click)="updateProfile(user)" label="Actualiser"
              class="ui-button-rounded" style="margin-right: 10px"></button>
      <button type="button" pButton icon="fa fa-close" (click)="afficherDialog=false" label="Annuler"
              class="ui-button-secondary ui-button-rounded"></button>
    </p-footer>
  </form>
</p-dialog>
<p-toast position="top-right"></p-toast>